* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body {
    background: #fefefe;
}

header {
    width: 100%;
    height: 80px;
    position: relative;
    background: #11101b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3); /* Add box shadow */
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #fefefe;
}

.hamburger {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li {
    margin-left: 25px;
}

.nav-bar ul li a {
    display: block;
    color: #fefefe;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s ease;
    margin: 0 5px;
    width: 100%;
}

.nav-bar ul li a:hover {
    color: #11101b;
    background: #fefefe;
}

.nav-bar ul li a.active {
    color: #11101b;
    background: #fefefe;
}

@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 900px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
    }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        background: #11101b;
        transition: 0.2s ease;
        overflow: hidden;
        z-index: 999;
    }

    .nav-bar.active {
        height: 450px;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s ease;
        opacity: 0;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
    }

    .nav-bar.active ul {
        opacity: 1;
    }
}

.content-signup {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 58%, rgba(27,83,94,1) 100%);
    z-index: 1;
}

.content-login {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 58%, rgba(27,83,94,1) 100%);
    z-index: 1;
}

.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box box-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .btn {
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .login-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.login-link p {
    font-family: "Poppins", sans-serif;
}

.login-link p a {
    font-family: "Poppins", sans-serif;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.login-link p a:hover {
    text-decoration: underline;
}


#toastBox {
    position: absolute;
    bottom: 0px;
    right: 20px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
    z-index: 90;
}

.toast {
    width: 400px;
    height: 80px;
    background: #fff;
    font-weight: 500;
    margin: 15px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    position: relative;
    transform: translateX(100%);
    animation: moveleft 0.2s linear forwards;
    z-index: 90;
}

.toast1 {
    width: 400px;
    height: 80px;
    background: #fff;
    font-weight: 500;
    margin: 15px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    position: relative;
    transform: translateX(100%);
    animation: moveleft 0.2s linear forwards;
}

@keyframes moveleft {
    100% {
        transform: translateX(0);
    }
}

.toast box-icon {
    margin: 0 20px;
}

.toast1 box-icon {
    margin: 0 20px;
}

.toast::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: red;
    animation: anim 5s linear forwards;
}

.toast1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: #08a308;
    animation: anim1 2s linear forwards;
}

@keyframes anim {
    100% {
        width: 0;
    }
}

@keyframes anim1 {
    100% {
        width: 0;
    }
}

.content-home {
    width: 100%;
    height: calc(100vh - 80px);
    background: rgb(2,0,36);
    display: flex;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 58%, rgba(27,83,94,1) 100%);
}

.content-home .home-text {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.home-text .home-align {
    display: flex;
    flex-direction: column;
    color: #FFF;
}

.home-align h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

.home-align p {
    font-size: 20px;
    margin-bottom: 20px;
}

.home-join {
    color: #333;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s ease;
    margin: 0 5px;
    width: 100%;
    background: #fff;
}


.fake-body {
    height: calc(100vh - 80px);
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 58%, rgba(27,83,94,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-container {
    min-width: 400px;
    width: 75%;
    max-width: 1200px;
    height: calc(80vh - 80px);
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
    background-color: #181725;
}

.header h1 {
    color: white;
    padding: 15px;

}

.body {
    flex: 1;
    color: white;
    background-color: #0c0c13;
    padding: 20px 30px;
    overflow-y: scroll;
}

.message {
    background-color: #181725;
    padding: 10px;
    color: white;
    width: fit-content;
    border-radius: 10px;
    margin-bottom: 15px;
}

.user_message {
    margin-left: auto;
    background-color: white;
    color: black;
}

.footer form {
    display: flex;
}

form input {
    flex: 1;
    height: 35px;
    border: none;
    outline: none;
    padding-left: 5px;
    font-size: 16px;
}

form button {
    width: 100px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #181725;
    color: white;
    cursor: pointer;
    transition: 0.2s ease;
}

form button:hover {
    background-color: #1f1f36;
}

.main-container {
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 58%, rgba(27,83,94,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: calc(100vh - 80px);
    z-index: 80;
}

.table {
    width: 82vw;
    height: calc((90vh - 80px));
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 0.4rem 0.8rem #0005;
    overflow: hidden;
    border-radius: 1rem;
}

.table_header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;
}

.table_body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.table_body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table_body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

table {
    width: 100%;
}

.table_body {
    width: 95%;
    max-height: 89%;
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: center;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr:hover {
    background-color: #fff6;
}

td box-icon {
    cursor: pointer;
    font-size: 30px;
}