{% extends "base.html" %}
{% block title %}South Chat | Home{% endblock %}
{% block home %}active{% endblock %}
{% block rooms %}{% endblock %}
{% block join %}{% endblock %}

{% block content %}
<div class="content-home">
    <div class="home-text">
        <div class="home-align">
            <h1>Welcome To SouthChat</h1>
            <p>Number #1 school chat</p>
            <a class="home-join" href="/rooms">
                Explore
            </a>
        </div>
    </div>
</div>
{% endblock %}